*{
    box-sizing: border-box;
    margin:0px;
    padding:0px;
}
:root{
    --color--background: rgb(232, 229, 229);
    --color--mainbtn: green;
    --color--secondbtn: rgb(71, 58, 170);
    --color--mainbtn-hover: lightgreen;
    --color--secondbtn-hover: rgb(204, 236, 247);
    --color--text--active:black;
    --color--text--pasive:rgb(233, 234, 237);
    --color--placeholder:rgb(223, 236, 229);
    --color--text--muted:rgb(140, 156, 148);

}
/* ETIQUETAS */
body{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
nav{
    width: 100vw;}
main{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80vw;
    min-height: 70vh;
}
table{
    width:100%;
    border-collapse: collapse;
}
footer{
    background-color: var(--color--secondbtn);
    margin-top: 5vh;
    padding:2vh;
}

/* SEUDOCLASES */
::placeholder{
    color:var(--color--text--muted);
    font-size: medium;
    padding-left: 0.5rem;
}

/* CLASES HEADER */
.cj-nav{
    background-color: var(--color--secondbtn-hover);
}
.cj-banner {
    display:flex;
    flex-direction: column;
    align-items: flex-end;
    width:100%;
    background-image: url(../img/medical_cover_small.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 50vh; 
    margin-bottom: 3vh;
 }

/* CLASES FORM NEW DATA */
.cj-formAddDisease{
    display: none;
    flex-direction: column;
    justify-content: center;
    width: 80vw;
    margin-top: 3vh;
    color: var(--color--mainbtn);
}
.cj-inputAddData{
    width: 100%;
    font-size: smaller;
    margin-bottom: 0.5rem;
    padding-left: 0.5rem;
    background-color: var(--color--placeholder);
    border: none;
    height:3rem;
}

/* CLASES EDIT DATA */
.cj-formEditData{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80vw;
    margin-top: 3vh;
    color: var(--color--mainbtn);
}

/* CLASES LIST DATA */
.cj-table {
    margin-bottom: 10vh;
    padding: 2rem;
    background-color: var(--color--text--pasive);
    border-radius: 2rem;
    box-shadow:3px 3px 5px var(--color--text--muted);
}
.cj-table-title {
    font-weight: bolder;
    border-bottom: 2px solid var(--color--text--active);
}
.cj-list-row{
    border-bottom: 1px solid var(--color--text--muted);
    padding: 0.5rem;
}
.cj-list-row:hover{
    border-bottom: none;
    background-color: var(--color--text--muted);
    color: var(--color--text--pasive);
}
.cj-groupBtn{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
    color:var(--color--mainbtn);
}
.cj-groupBtn a {
    text-decoration: none;
    color: inherit;
    font-size: 1.5rem;
}
.cj-groupBtn a:hover {
    color: var(--color--text--pasive);
}


/* CLASES PRINT AREA */
.cj-printarea{
    margin-top: 5vh;
    width:40vw;
}
 .cj-info-firma {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 3vh;
 }
 .cj-info-firma p{
    padding: 0px;
    margin: 0px;
 }
 .list-group-item{
    border:none;
 }


/* ZONA DE IMPRESION */
@media print {
    body * {
        visibility: hidden; /* Oculta todo */
    }

    #cj-printarea, #cj-printarea * {
        visibility: visible; /* Muestra solo el todo-list */
    }

    #cj-printarea {
        position: absolute;
        left: 20vw;
        top: 0;
        width: 50%;
    }
}

/* CLASES FOOTER */
.cj-cajaFooter{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.cj-menuFooter{
    color:whitesmoke;
    text-decoration: unset;
}
.cj-menuFooter:hover{
    color:lightgrey;
}
.cj-signatureFooter{
    margin-top: 3rem;
    color: var(--color--text--muted);
}

/* MEDIA QUERY*/