*{
    box-sizing: border-box;
    margin:0px;
    padding:0px;
}
:root{
    --color--background: rgb(232, 229, 229);
    --color--mainbtn: green;
    --color--secondbtn: rgb(71, 58, 170);
    --color--mainbtn-hover: lightgreen;
    --color--secondbtn-hover: lightblue;
    --color--text--active:black;
    --color--text--pasive:rgb(251, 251, 251);
    --color--placeholder:rgb(223, 236, 229);
    --color--text--muted:rgb(140, 156, 148);

}
main{
    min-height: 70vh;
}
table{
    width: 80vw;
    border-collapse: collapse;
}
/* CLASES */

/* HEADER */
.cj-nav{
    background-color: var(--color--secondbtn-hover);
}
.cj-banner {
    display:flex;
    flex-direction: column;
    align-items: flex-end;
    width:100%;
    background-image: url(../img/medical_cover_small.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 50vh; 
    margin-bottom: 3vh;
 }


/* */
.table_area {
    display: flex;
    justify-content: center;
}
/* FORM NEW DATA */
.cj-formAddDisease{
    display: none;
    flex-direction: column;
    justify-content: center;
    width: 80vw;
    margin-top: 3vh;
    color: var(--color--mainbtn);
}

.cj-inputAddData{
    width: 100%;
    font-size: smaller;
    margin-bottom: 0.5rem;
    padding-left: 0.5rem;
    background-color: var(--color--placeholder);
    border: none;
    height:3rem;
}
/* EDIT DATA */
.cj-formEditData{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80vw;
    margin-top: 3vh;
    color: var(--color--mainbtn);
}

/* LIST DATA */
::placeholder{
    color:var(--color--text--muted);
    font-size: medium;
    padding-left: 0.5rem;
}
th, td{
    height: 30px;
    overflow: hidden;
}
.cj-trDataList{    
    height:30px;      
    
}
.cj-thDataName{
    width: 4vw; 
}
.cj-tdDescriptionContent{
    width: 40vw; 
    padding: 5px; 
    height: 30px;
    overflow:hidden;
    white-space: nowrap;
    text-overflow:ellipsis;
}
.cj-tdDataContent{ 
    width: 25vw; 
    padding: 5px; 
    height: 30px;
    overflow:hidden;
    white-space: nowrap;
    text-overflow:ellipsis; 
}
.cj-tdMethod{
    width: 10vw;
      
}
.cj-groupBtn{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color:var(--color--mainbtn);
}
.cj-groupBtn a {
    text-decoration: none;
    color: inherit;
    font-size: 1.5rem;
}


/* PRINT AREA */
.cj-printarea{
    margin-top: 5vh;
    width:40vw;
}
 .cj-info-firma {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 3vh;
 }
 .cj-info-firma p{
    padding: 0px;
    margin: 0px;
 }
 .list-group-item{
    border:none;
 }



@media print {
    body * {
        visibility: hidden; /* Oculta todo */
    }

    #cj-printarea, #cj-printarea * {
        visibility: visible; /* Muestra solo el todo-list */
    }

    #cj-printarea {
        position: absolute;
        left: 20vw;
        top: 0;
        width: 50%;
    }
}

/* FOOTER */
footer{
    background-color: var(--color--secondbtn);
    margin-top: 5vh;
    padding:2vh;
}
.cj-cajaFooter{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.cj-menuFooter{
    color:whitesmoke;
    text-decoration: unset;
}
.cj-menuFooter:hover{
    color:lightgrey;
}
.cj-signatureFooter{
    margin-top: 3rem;
    color: var(--color--text--muted);
}